<!-- Error -->
<div class="width-100 container-p-y d-flex justify-content-center">
  <div class="misc-wrapper d-flex justify-content-center flex-column text-center">
    <h2 class="mb-1 mt-4">Página no encontrada :(</h2>
    <p class="mb-4 mx-2">La dirección que intentas acceder no existe.</p>
    <a href="/" class="btn btn-primary mb-4">Volver a inicio</a>
    <div class="mt-4">
      <img
        src="/public/assets/img/illustrations/page-misc-error.png"
        alt="page-misc-error"
        width="225"
        class="img-fluid" />
    </div>
  </div>
</div>
<div class="container-fluid misc-bg-wrapper">
  <img
    src="/public/assets/img/illustrations/bg-shape-image-light.png"
    alt="page-misc-error"
    data-app-light-img="illustrations/bg-shape-image-light.png"
    data-app-dark-img="illustrations/bg-shape-image-dark.png" />
</div>
<!-- /Error -->
