<div class="container-xxl flex-grow-1 container-p-y">
  <h4 class="py-3 mb-4">Page 1</h4>
  <p>
    Sample page.<br />For more layout options use
    <a href="" target="_blank" class="fw-medium">HTML starter template generator</a> and refer
    <a
      href="https://demos.pixinvent.com/vuexy-html-admin-template/documentation//layouts.html"
      target="_blank"
      class="fw-medium"
      >Layout docs</a
    >.
  </p>
  <button id="button-scan" class="btn btn-primary">Scannear</button>
  <div id="container-result" class="w-100 d-flex d-none">
    <p>Resultado: <span id="result-scan"></span></p>
  </div>
  <div id="container-scanning" class="d-none">
    <p>Escaneando...</p>
  </div>
</div>

<script type="module">
  import { fetchData } from '/public/scripts/helpers.js';
  $('#button-scan').click(() => {
    $('#container-result').addClass('d-none');
    $('#container-scanning').removeClass('d-none');
    fetchData('/scanner/read', 'GET')
      .then(res => {
        $('#container-scanning').addClass('d-none');
        $('#container-result').removeClass('d-none');
        const { status, data } = res;
        console.log(data);
        if (status !== true) return;
        $('#result-scan').text(data);
      })
      .catch(error => {
        console.error(error);
      });
  });

  const socket = io.connect();

  socket.on('scanner', data => {
    $('#container-scanning').addClass('d-none');
    $('#container-result').removeClass('d-none');
    $('#result-scan').text(data);
  });
</script>
