<script src="/public/scripts/auth.js" type="module"></script>
<!-- Logo -->
<div class="app-brand justify-content-center mb-4 mt-2">
  <a href="index.html" class="app-brand-link gap-2">
    <span class="d-flex justify-content-between gap-1">

      <!-- style="border-right: #dddddd 1px solid;
      padding-right: 5px;" -->
      <img  src="/public/assets/logos/logo-otv.png.webp" width="40%"  alt="Vuexy Logo" class="logo-icon" />
      <div style="border-right: #dddddd 1px solid;"></div>
      <img src="/public/assets/logos/LOGO-Negro.svg"  width="40%"alt="Vuexy Logo" class="logo-icon" />
    </span>
  </a>
</div>
<!-- /Logo -->
<h4 class="mb-1 pt-2">Welcome to OTV! 👋</h4>
<form id="formLogin" class="mb-3">
  <div class="mb-3">
    <label for="email" class="form-label">Correo electrónico</label>
    <input type="text" class="form-control" id="email" name="email-username" placeholder="Enter your email or username"
      autofocus />
  </div>
  <div class="mb-3 form-password-toggle">
    <div class="d-flex justify-content-between">
      <label class="form-label" for="password">Contraseña</label>
    </div>
    <div class="input-group input-group-merge">
      <input type="password" id="password" class="form-control" name="password"
        placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
        aria-describedby="password" />
      <span class="input-group-text cursor-pointer"><i class="ti ti-eye-off"></i></span>
    </div>
  </div>
  <div class="mb-3">
    <button type="submit" id="loginButton" class="btn btn-primary d-grid w-100">Iniciar sesión</button>
  </div>
</form>
</div>