<link rel="stylesheet" href="/public/assets/vendor/css/pages/app-chat.css" />
<style>
  .order_container_child {
    cursor: pointer;
  }
  .order_container_child:hover {
    background-color: rgba(0, 0, 0, 0.05);
  }
</style>
<div class="container-xxl flex-grow-1 container-p-y">
  <div class="d-flex justify-content-between align-items-center pb-2 border-bottom">
    <h4 class="mb-0">Órdenes de compra</h4>
    <button
      id="newClientButton"
      type="button"
      class="btn btn-primary"
      data-bs-toggle="modal"
      data-bs-target="#create_orden_compra">
      <span class="tf-icons ti-xs ti ti-plus me-1"> </span>Nueva orden
    </button>
  </div>

  <div class="app-chat card overflow-hidden mt-2">
    <div class="row g-0">
      <div class="col app-chat-contacts app-sidebar flex-grow-0 border-end" id="app-chat-contacts">
        <div class="sidebar-header">
          <div class="d-flex align-items-center me-3 me-lg-0 gap-2">
            <div class="flex-grow-1 input-group input-group-merge">
              <span class="input-group-text" id="basic-addon-search31"><i class="ti ti-search"></i></span>
              <input
                type="text"
                id="search-report-filter"
                class="form-control chat-search-input"
                placeholder="Buscar orden de compra"
                aria-label="Buscar orden de compra"
                aria-describedby="basic-addon-search31" />
            </div>
            <button
              type="button"
              class="btn btn-icon btn-label-primary"
              data-bs-toggle="collapse"
              data-bs-target="#collapse-filters"
              aria-expanded="false"
              aria-controls="collapse-filters">
              <span class="ti ti-filter"></span>
            </button>
          </div>
          <div class="border-1 border-top mt-2 pt-2 collapse" id="collapse-filters">
            <!--<div class="form-check mt-2">
              <input class="form-check-input" type="checkbox" value="" id="exact-match-cb" />
              <label class="form-check-label" for="exact-match-cb"> Coincidencia exacta de texto </label>
            </div>
            <div class="mt-2">
              <label for="range_filter" class="form-label">Fecha</label>
              <input
                class="form-control datetimepicker flatpickr-input"
                id="range_filter"
                type="text"
                placeholder="Selecciona un rango de fecha"
                readonly="readonly" />
            </div>
            <div class="mt-2">
              <label for="proveedor_filter" class="form-label">Proveedor</label>
              <select aria-placeholder="Selecciona un proveedor" class="form-select" id="proveedor_filter">
                <option></option>
                <option value="Sel">SEL</option>
                <option value="Teysa">TEYSA</option>
              </select>
            </div>
            <div class="mt-2">
              <label for="ingeniero_filter" class="form-label">Ingeniero</label>
              <select aria-placeholder="Selecciona un ingeniero" class="form-select" id="ingeniero_filter">
                <option></option>
              </select>
            </div>
            <div class="mt-3 text-right cursor-pointer">
              <span class="text-muted" id="remove-filters-btn"><small>Eliminar filtros</small></span>
            </div>-->
          </div>
          <i
            class="ti ti-x cursor-pointer d-lg-none d-block position-absolute mt-2 me-1 top-0 end-0"
            data-overlay=""
            data-bs-toggle="sidebar"
            data-target="#app-chat-contacts"></i>
        </div>
        <hr class="container-m-nx m-0" />
        <div id="ordenes_compra_container" class="sidebar-body" style="overflow-y: scroll"></div>
      </div>
      <div class="col email-content d-flex align-items-center justify-content-center d-none" id="placeholder_viewer">
        <div class="text-center">
          <dotlottie-player
            src="/public/animations/please_select.lottie"
            background="transparent"
            speed="0.8"
            style="width: 180px; height: 180px"
            loop
            autoplay
            direction="1"
            mode="normal"></dotlottie-player>
          <p class="mb-0"><small>Selecciona una orden de compra</small></p>
        </div>
      </div>
      <div class="col app-chat-history bg-body" id="container-reporte">
        <div class="chat-history-wrapper d-flex flex-column h-100">
          <div class="chat-history-header border-bottom">
            <div class="d-flex justify-content-between align-items-center">
              <div class="d-flex overflow-hidden align-items-center">
                <i
                  class="ti ti-menu-2 ti-sm cursor-pointer d-lg-none d-block me-2"
                  data-bs-toggle="sidebar"
                  data-overlay=""
                  data-target="#app-chat-contacts"></i>
                <div class="chat-contact-info flex-grow-1 ms-2">
                  <h6 class="m-0"><span id="data-folio">[Folio]</span></h6>
                  <small class="user-status text-muted" id="data-fecha-creación">[Fecha y hora]</small>
                </div>
              </div>
              <div class="d-flex align-items-center gap-2">
                <button type="button" class="btn btn-label-success">
                  <span class="tf-icons ti-xs ti ti-check me-1"> </span>Finalizar
                </button>
                <div class="btn-group">
                  <button
                    type="button"
                    class="btn btn-label-secondary btn-icon dropdown-toggle hide-arrow"
                    data-bs-toggle="dropdown">
                    <i class="ti ti-dots-vertical"></i>
                  </button>
                  <ul class="dropdown-menu">
                    <li>
                      <a id="edit_oc" class="dropdown-item d-flex align-items-center gap-2" href="javascript:void(0);"
                        ><i class="ti ti-edit ti-xs me-1"></i>Editar</a
                      >
                    </li>
                    <li>
                      <a id="delete_oc" class="dropdown-item d-flex align-items-center gap-2" href="javascript:void(0);"
                        ><i class="ti ti-trash-x ti-xs me-1"></i>Eliminar</a
                      >
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="chat-history-body bg-body flex-grow-1">
            <div class="card">
              <div class="card-body">
                <div class="d-flex justify-content-between flex-xl-row flex-md-column flex-sm-row flex-column">
                  <div>
                    <p class="mb-0"><span id="data-client-data">[Datos del cliente]</span></p>
                  </div>
                  <div>
                    <div>
                      <strong>Fecha de entrega: </strong>
                      <span id="data-fecha-entrega">[Fecha de entrega]</span>
                    </div>
                  </div>
                </div>
              </div>
              <hr class="my-0" />
              <div class="card-header pt-1">
                <ul class="nav nav-tabs card-header-tabs" role="tablist">
                  <li class="nav-item" role="presentation">
                    <button
                      type="button"
                      class="nav-link active"
                      role="tab"
                      data-bs-toggle="tab"
                      data-bs-target="#navs_productos"
                      aria-controls="navs_productos"
                      aria-selected="true">
                      <i class="ti ti-box ti-xs me-1"></i>
                      Piezas
                    </button>
                  </li>
                  <li class="nav-item" role="presentation">
                    <button
                      type="button"
                      class="nav-link"
                      role="tab"
                      data-bs-toggle="tab"
                      data-bs-target="#navs_files"
                      aria-controls="navs_files"
                      aria-selected="false"
                      tabindex="-1">
                      <i class="ti ti-paperclip ti-xs me-1"></i>
                      Archivos
                    </button>
                  </li>
                  <li class="nav-item" role="presentation">
                    <button
                      type="button"
                      class="nav-link"
                      role="tab"
                      data-bs-toggle="tab"
                      data-bs-target="#navs_codes"
                      aria-controls="navs_codes"
                      aria-selected="false"
                      tabindex="-1">
                      <i class="ti ti-file-barcode ti-xs me-1"></i>
                      Códigos
                    </button>
                  </li>
                </ul>
              </div>
              <div class="card-body">
                <div class="tab-content p-0 pt-3">
                  <div class="tab-pane fade show active" id="navs_productos" role="tabpanel">
                    <div class="row">
                      <div class="col-md-12">
                        <div class="d-flex justify-content-end">
                          <button id="addProductsButton" type="button" class="btn btn-label-primary">
                            <span class="tf-icons ti-xs ti ti-plus me-1"> </span>Añadir
                          </button>
                        </div>
                      </div>
                      <div class="col-md-12">
                        <div class="table-responsive border-top mt-2">
                          <table class="table m-0">
                            <thead>
                              <tr>
                                <th>No. de parte</th>
                                <th>Descripción</th>
                                <th>Costo</th>
                                <th>Cant.</th>
                                <th>Precio</th>
                              </tr>
                            </thead>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="tab-pane fade" id="navs_files" role="tabpanel"></div>
                  <div class="tab-pane fade" id="navs_codes" role="tabpanel"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="app-overlay"></div>
    </div>
  </div>
</div>

<!-- Modal Nueva orden de compra-->
<div class="modal fade modal_cliente" id="create_orden_compra" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel1">Nueva orden</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="create_order" class="row g-3">
          <div class="col-md-6">
            <label for="folio_id" class="form-label required">Folio del cliente</label>
            <input type="text" id="folio_id" name="nombre" class="form-control" />
          </div>
          <div class="col-md-6 col-12">
            <label for="date_picker" class="form-label">Fecha de entrega</label>
            <input type="hidden" class="form-control flatpickr-input" placeholder="dd/mm/aaaa" id="date_picker" />
          </div>
          <div class="col-md-12">
            <label for="select_client" class="form-label">Cliente</label>
            <select name="client" id="select_client" class="form-select"></select>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button id="create_order_button" type="submit" form="create_order" class="btn btn-success">Generar</button>
      </div>
    </div>
  </div>
</div>

<!---->
<div class="modal fade modal_cliente" id="addProductModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel1">Añade un producto</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="addProduct" class="row g-3">
          <div class="col-md-9">
            <label for="add_product_select" class="form-label required">Producto</label>
            <select name="client" id="add_product_select" class="form-select"></select>
          </div>
          <div class="col-md-3">
            <label for="add_product_quantity" class="form-label">Cantidad</label>
            <input class="form-control" type="number" value="1" id="add_product_quantity" />
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button id="confirm_add_product" type="submit" form="create_order" class="btn btn-success">Añadir</button>
      </div>
    </div>
  </div>
</div>
<!--<div class="container-xxl flex-grow-1 container-p-y">
  <div class="d-flex justify-content-between align-items-center pb-2">
    <h4 class="mb-0">Ordenes de compra</h4>
    <button
      id="newClientButton"
      type="button"
      class="btn btn-primary"
      data-bs-toggle="modal"
      data-bs-target="#create_orden_compra">
      <span class="tf-icons ti-xs ti ti-plus me-1"> </span>Nueva orden
    </button>
  </div>

  <div class="card">
    <div class="card-header">
      <div class="row">
        <div class="col-md-12">
          <div class="d-flex justify-content-between align-items-center row gap-3 gap-md-0">
            <div class="col-md-4">
              <input class="form-control" type="search" placeholder="Buscar cliente ..." id="search-client" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card-datatable table-responsive border-top">
      <table id="ordenes_table" class="table table-striped w-100 card-table table-hover"></table>
    </div>
  </div>
</div>-->

<script src="/public/scripts/ordenes/ordenes_compra.js" type="module"></script>
