<script src="/public/libs/zebra/dist_libs/BrowserPrint-3.1.250.min.js"></script>
<script type="module" src="/public/scripts/zebra-print/index.js"></script>
<script src="https://cdn.jsdelivr.net/npm/html2canvas@1.4.1/dist/html2canvas.min.js"></script>
<script type="text/javascript" src="/public/libs/zpl-image/pako.js"></script>
<script type="text/javascript" src="/public/libs/zpl-image/zpl-image.js"></script>

<script src="/public/libs/bwip/bwip-js-min.js"></script>

<div class="container-xxl flex-grow-1 container-p-y">
    <div class="d-flex justify-content-between align-items-center pb-2 border-bottom">
        <div class="d-flex align-items-center gap-2">
            <h4 class="mb-0">Configuración</h4>
        </div>
    </div>
    <div class="row pt-3">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-8">
                    <select class="form-select" id="selected_device"></select>
                </div>
                <div class="col-md-4">
                    <button class="btn btn-primary" id="btn-test-connection">Verificar conexión</button>
                </div>
            </div>

            <form id="labelForm">
                <div class="mb-3">
                    <label for="datamatrix" class="form-label">Datamatrix:</label>
                    <input type="text" class="form-control" id="datamatrix" name="datamatrix" required />
                    <div class="invalid-feedback">Please provide a datamatrix.</div>
                </div>
                <div class="mb-3">
                    <label for="label1" class="form-label">Label 1:</label>
                    <input type="text" class="form-control" id="label1" name="label1" required />
                    <div class="invalid-feedback">Please provide Label 1.</div>
                </div>
                <div class="mb-3">
                    <label for="label2" class="form-label">Label 2:</label>
                    <input type="text" class="form-control" id="label2" name="label2" required />
                    <div class="invalid-feedback">Please provide Label 2.</div>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>

            <div class="row">
                <div class="col-md-6">
                    <div class="capture-wrapper" id="capture-qr">
                        <div class="capture">
                            <div class="code-container">
                                <canvas id="code-qr" class="code-canvas"></canvas>
                            </div>
                            <div class="text-area">
                                <strong>Producto:</strong> Café Orgánico 250g<br />
                                <strong>Lote:</strong> 00234<br />
                            </div>
                        </div>
                    </div>
                    <button id="printQR">Capturar</button>
                </div>
                <div class="col-md-6">
                    <div class="capture-wrapper" id="capture-datamatrix">
                        <div class="capture">
                            <div class="code-container">
                                <canvas id="code-datamatrix" class="code-canvas"></canvas>
                            </div>
                            <div class="text-area">
                                <strong>Producto:</strong> Café Orgánico 250g<br />
                                <strong>Lote:</strong> 00234<br />
                            </div>
                        </div>
                    </div>
                    <button id="printDatamatrix">Capturar</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function generarDataMatrix(texto, dom_id, type) {
        const codeCanvas = document.getElementById(dom_id);
        try {
            bwipjs.toCanvas(codeCanvas, {
                bcid: type, // Tipo de código
                text: texto, // Texto a codificar
                scale: 5, // Tamaño del código
                includetext: false // No mostrar texto debajo
            });
        } catch (e) {
            console.error('Error generando DataMatrix:', e);
        }
    }
    // Ejemplo de uso
    generarDataMatrix('Hola mundo', 'code-qr', 'qrcode');
    generarDataMatrix('Hola mundo', 'code-datamatrix', 'datamatrix');
</script>

<style>
    .code-container {
        width: 20mm;
        height: 20mm;
        margin-left: 10mm;
    }
    .capture-wrapper {
        width: 80mm;
        height: 1in;
        background: white;

        align-items: center;
        justify-content: space-between;
        font-size: 3mm;
        border: 1px dashed gray;
        color: black;
    }

    .capture {
        margin-top: 4mm;
        margin-left: 6mm;
        display: flex;
    }

    .code-canvas {
        width: 100%;
        height: auto;
    }

    .text-area {
        flex: 1;
        margin-left: 2mm;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
</style>
