<style>
	#unidades_medida_table .btn {
		box-shadow: none !important;
	}

	#unidades_medida_table td {
		cursor: pointer !important;
	}

	.pac-container {
		background-color: #FFF;
		z-index: 20;
		position: fixed;
		display: inline-block;
		float: left;
	}

	.modal {
		z-index: 20;
	}

	.modal-backdrop {
		z-index: 10;
	}
</style>
<div class="container-xxl flex-grow-1 container-p-y">

	<div class="d-flex justify-content-between align-items-center pb-2">
		<h4 class="mb-0">
			  Unidades de medida
		</h4>
		<button id="newMedidaButton" type="button" class="btn btn-primary" data-bs-toggle="modal"
			data-bs-target="#newMedida">
			<span class="tf-icons ti-xs ti ti-plus me-1">
			</span>Nueva
		</button>
	</div>

	<!-- unidades_medida List Table -->
	<div class="card">
		<div class="card-header">
			<div class="row">
				<div class="col-md-12">
					<div class="d-flex justify-content-between align-items-center row gap-3 gap-md-0">
						<div class="col-md-4">
							<input class="form-control" type="search" placeholder="Buscar cliente ..." id="search-client" />
						</div>
						<div class="col-md-4 product_status">
							<select id="ProductStatus" class="form-select text-capitalize">
								<option value="">Estado</option>
								<option value="activo">Activo</option>
								<option value="archivado">Archivado</option>
							</select>
						</div>
						<div class="col-md-4 product_stock">
							<select id="creation_method_select" class="form-select text-capitalize">
								<option value=""> Método de creación </option>
								<option value="app">App</option>
								<option value="web">Web</option>
							</select>
						</div>
					</div>
				</div>
				<div class="col-md-12 collapse mt-2" id="selectedCollapse">
					<div class="d-flex justify-content-between align-items-center px-3 py-2 rounded bg-label-info">
						<div>
							<p class="mb-0"><strong><span id="selectedClients"></span></strong> Seleccionado(s)
							</p>
						</div>
						<div class="d-flex gap-2 align-items-center">
							<button id="combineBtn" type="button" class="btn btn-label-dark">
								<span class="tf-icons ti-xs ti ti-layers-intersect-2 me-1"></span>Combinar
							</button>
						</div>
					</div>
				</div>
			</div>

		</div>
		<div class="card-datatable table-responsive border-top">
			<!--TABLE HERE-->
			<table id="unidades_medida_table" class="table table-striped w-100 card-table table-hover"></table>
		</div>
	</div>

</div>

<!-- Modal Nuevo cliente -->
<div class="modal fade modal_cliente" id="newMedida" tabindex="-1" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel1">Agregar unidad de medida</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<div class="row g-3">
					<div class="col-md-6">
						<label for="name_unidad_medida" class="form-label required">Nombre</label>
						<input type="text" id="name_unidad_medida" placeholder="Metros cuadrados" class="form-control">
					</div>
					<div class="col-md-6">
						<label for="short_name_unidad_medida" class="form-label required">Abreviación</label>
						<input type="text" id="short_name_unidad_medida" class="form-control" placeholder="M2">
					</div>
					
				</div>
			</div>
			<div class="modal-footer">
				<button id="confirm_new_medida" type="button" class="btn btn-success">Crear</button>
			</div>
		</div>
	</div>
</div>

<script src="/public/scripts/unidades.js" type="module"></script>
