<div class="d-flex justify-content-between align-items-center pb-2 border-bottom">
  <h4 class="mb-0">[Folio OC] - [Fecha de entrega]</h4>
  <button
    id="newClientButton"
    type="button"
    class="btn btn-success"
    data-bs-toggle="modal"
    data-bs-target="#create-client-modal">
    <span class="tf-icons ti-xs ti ti-barcode me-1"> </span>Iniciar Verificación
  </button>
</div>
<!-- Layout Demo -->
<div class="layout-demo-wrapper">
  <div class="card w-100">
    <div class="table-responsive text-nowrap">
      <table class="table table-sm">
        <thead>
          <tr>
            <th>#CODIGO</th>
            <th>No. de parte</th>
            <th>Revisión</th>
            <th>Descripción</th>
            <th>Opciones</th>
          </tr>
        </thead>
      </table>
    </div>
  </div>
</div>
<script>
  const ordenData = JSON.parse('<%- ordenData %>');
  console.log({ ordenData });
</script>

<script src="public/scripts/verificador/ordenes/ordenes.js" type="module"></script>
<!--/ Layout Demo -->

<!-- MODAL ADD PIEZA -->
<div class="modal fade modal_cliente" id="modal_create_pieza" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal_cliente" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Crear pieza</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="crear-pieza-form" class="row g-3">
          <div class="col-md-12">
            <label for="numero_parte" class="form-label required">Número de parte</label>
            <input type="text" id="numero_parte" name="numero_parte" class="form-control" />
          </div>
          <div class="col-md-12">
            <label for="descripcion" class="form-label required">Descripción de la pieza</label>
            <input type="text" id="descripcion" name="descripcion" class="form-control" />
          </div>
          <div class="col-md-6">
            <label for="costo_produccion" class="form-label required">Costo de producción</label>
            <input type="text" id="costo_produccion" name="costo_produccion" class="form-control" />
          </div>
          <div class="col-md-6">
            <label for="costo_venta" class="form-label required">Costo de venta</label>
            <input type="number" min="0" id="costo_venta" name="costo_venta" class="form-control" />
          </div>
          <div class="col-md-12">
            <label for="input-imgs" class="form-label required">Imágenes</label>
            <div id="dpz-imgs" class="fallback dropzone">
              <input id="input-imgs" type="file" multiple />
            </div>
          </div>
          <div class="col-md-12">
            <label for="input-files" class="form-label required">Archivos</label>
            <div id="dpz-files" class="fallback dropzone">
              <input id="input-files" type="file" multiple />
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button id="confirm_new_pieza" type="submit" form="crear-pieza-form" class="btn btn-success">Guardar</button>
      </div>
    </div>
  </div>
</div>
