<style>
  .square-container {
    position: relative;
    width: 35%; /* Set the width as desired */
  }
  .square-container:before {
    content: '';
    display: block;
    padding-top: 100%; /* 1:1 Aspect Ratio (height = width) */
  }
  .square-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .image-selector {
    width: 50%;
    height: auto;
  }
</style>

<div class="d-flex align-items-center h-100 flex-wrap justify-content-center gap-5">
  <a class="bg-label-primary rounded card square-container cursor-pointer" href="/verificador/ordenes">
    <div class="square-content d-flex align-items-center justify-content-center">
      <div class="text-center">
        <img style="width: 50%" src="../../public/assets/img/otv-assets/3dinvoice.png" />
        <h3 class="mt-2">Órdenes de compra</h3>
      </div>
    </div>
  </a>

  <a class="bg-label-primary rounded card square-container cursor-pointer" href="/verificador/embarques">
    <div class="square-content d-flex align-items-center justify-content-center">
      <div class="text-center">
        <img style="width: 50%" src="../../public/assets/img/otv-assets/truck3d.png" />
        <h3 class="mt-2">Embarques</h3>
      </div>
    </div>
  </a>
</div>

<script>
  const socket = io.connect();
  socket.on('scanner', data => {
    console.log({ data });
  });
</script>
