<div class="d-flex align-items-center h-100 justify-content-center gap-5">
  <div style="width: 40%" class="h-50 bg-label-primary rounded"></div>
  <div style="width: 40%" class="h-50 bg-label-primary rounded"></div>
</div>
