<div class="d-flex align-items-center h-100 flex-wrap justify-content-center gap-5">
  <div style="width: 40%; height: 40%" class="bg-label-primary rounded card"></div>
  <div style="width: 40%; height: 40%" class="bg-label-primary rounded card"></div>
</div>
